.btn {
  width: 250px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 3px solid transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 3px solid #a9a9a9;
  }
}

.modal_btn {
  background-color: rgba(1, 1, 1, 0.3);
  width: 101px;
  height: 41px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin: 20px 10px;
  user-select: none;
  border: 2px solid rgba(0, 0, 0, 0.3);

  &:hover {
    border: 2px solid #ffffff;

    }

}

