.modal {
  position: absolute;
  top: calc(50% - 126px);
  left: calc(50% - 258px);
  width: 516px;
  height: 300px;
  border-radius: 3px;
  font-size: 15px;
  color: #fff;

}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}

.bg_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.1);
  height: 68px;
  font-size: 22px;
  padding: 0 30px;
}

.bg_main_content {
  padding: 40px;
  text-align: center;

}

.cross {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 20px;
    width: 1px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.action {
  display: flex;
  justify-content: center;
}